pages = Math.ceil(pagination.total / pagination.limit)
current = ~~(pagination.offset / pagination.limit)
iteration = 0

ul.pagination
  li
    a(href="/notifications")&laquo;
  while iteration++ < pages
    li(class=iteration - 1 === current ? "active" : "")
      a(href="notifications/#{ iteration }")= iteration
  li
    a(href="/notifications/#{ pages }")&raquo;
